<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="/Users/yangliu/LabSpace/Code/learning/AI/yu-ai-code-mother/src/main/java/cn/iocoder/cloud/yuaicodemother/temp.mapper.UserMapper">

</mapper>
